<h1>Add A Restaurant</h1>

<h3>
  <%= f.label :Name %>
  <%= f.text_field :name %>
</h3>

<h3>
  <%= f.label :Location %>
  <%= f.text_field :location %>
</h3>

<h3>
  <%= f.label :Cuisine %>
  <%= f.text_field :cuisine %>
</h3>
