
<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<!--<#%= render partial: "restaurant", locals: {restaurant: @restaurant} %>-->

<div class="rest_div">
  <h2><%= @restaurant.name%></h2>
  <h3>Cuisine: <%= @restaurant.cuisine %><h3>
  <h3>Location: <%= @restaurant.location %></h3><br>
</div>
<div id="reviews_div">

  <h2>Write a Review!</h2>
  <%= form_for(@review) do |f| %>
  <%= render partial: "fields_for_reviews", locals: {r: f} %>
  <%= f.submit value="Submit Review", {:id => "submit-review-button", :data => { :'id' => @restaurant.id }} %>
  <% end %>

</div>
