<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 sign-in-portal">

      <h2>Signup</h2>
      
      <%= render partial: '/restaurants/render_errors', locals: {model_name: @user} %>
      
      <%= form_for(@user) do |f| %>
        <p>
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "Please choose a username!" %>
        </p>
      
        <p>
         <%= f.label :email %>
         <%= f.text_field :email, placeholder: "Register with your email!!" %><br><br>
        </p>
      
        <p>
          <h4>create an Admin account to Post your Restaurants.</h4>
          <h5>With a non-admin account, you can write reviews for Restaurants.</h5>
          <%= f.label "Admin?" %>
          <%= f.select(:admin, options_for_select([['Yes', true], ['No', false]], {:selected => @user.admin}),:prompt => "Select") %>
        </p>
      
        <p>
          <%= f.label :password %>
          <%= f.password_field :password%><br><br>
        </p>
      
        <h4><%= f.submit %></h4>
      <% end %>
    </div>
    <div class="col-lg-4"></div>  
  </div>
</div>