  <h1>Write a Review</h1>
  <p>
    <%= r.label :taste_rating %>
    <%= r.select(:taste_rating, options_for_select((1..5), {:selected => @review.taste_rating}), :prompt => "Select") %>
  </p>

  <p>
    <%= r.label :health_rating %>
    <%= r.select(:health_rating, options_for_select((1..5), {:selected => @review.health_rating}), :prompt => "Select") %>
  </p>

  <p>
    <%= r.label :cleanliness_rating %>
    <%= r.select(:cleanliness_rating, options_for_select((1..5), {:selected => @review.cleanliness_rating}), :prompt => "Select") %>
  </p>

  <p>
    <%= r.label :description %>
    <%= r.text_area :description, size: "20x3" %>
  </p>

  <%= r.hidden_field :user_id, :value => current_user.id %>
  <%= r.hidden_field :restaurant_id, :value => @restaurant.id %>
