<h1>Add A Restaurant</h1>

<%= form_for(@restaurant) do |f| %>
  <p>
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Location %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :Cuisine %>
    <%= f.text_field :cuisine %>
  </p>

  <%= f.select(:status, options_for_select([['Yes', true], ['No', false]], {:selected => @restaurant.status}),:prompt => "Select") %>

  <p>
    <%= f.fields_for :reviews, @review do |review_builder| %>
      <%= render partial: "fields_for_reviews", locals: {r: review_builder} %>
    <% end %>
  </p>
  <%= f.submit %>
</p>
<% end %>
