<%= link_to "Home", root_path %>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path  %>
  <h1>Hello <%= current_user.username %></h1>
  <%= link_to "Your Profile", user_path(current_user) %>

  <%= link_to "Add Restaurant", new_restaurant_path %>

<% else %>
  <%= link_to 'Login', login_path %><br>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %><br>
  <%= link_to 'Signup', signup_path %>
<% end %>
<br>

<hr>

<% @restaurants.each do |restaurant| %>

  <% user = current_user %>
  <%= render partial: "restaurant", locals: {restaurant: restaurant} %>

  <% if logged_in? && current_user.restaurants.include?(restaurant)%>
    <a href="/users/<%= current_user.id %>/restaurants/<%= restaurant.id %>">View</a>
  <% end %>
<% end %>
