
<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<%= render partial: "restaurant", locals: {restaurant: @restaurant} %>

<% if !is_admin? %>
  <h2>Write a Review!</h2>
  <%= form_for(@review) do |f| %>

  <%= render partial: "fields_for_reviews", locals: {r: f} %>
  <%= f.submit value="Submit Review" %>
  <% end %>
<% end %>
