
<h4> Taste Rating: <%= review.taste_rating %></h4>
<h4> Health Rating: <%= review.health_rating %></h4>
<h4> Cleanliness Rating: <%= review.cleanliness_rating %></h4>
<h4> Description: <%= review.description %></h4>
<h4> Date: <%= review.date %></h4>
