<!DOCTYPE html>
<html>
  <head>
    <title>BetterMeals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= link_to "Home", root_path %>
    <h1 style="text-align: center;">Better Meals</h1>
    <%= yield %>
  </body>
</html>
